body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    cursor: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image {
    height: 35vw;
}

p {
    font-size: 24vw;
    text-align: center;
    color: gold;
    font-family: 'Lato', sans-serif;
    opacity: 0.9;
    line-height: 1;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Black.ttf') format('truetype');
}
